<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vertical Tank Maintenance </title>
    <link rel = "stylesheet"  href="stylesheet.css"/>

</head>
<body>
    <h1>Vertical Tank Maintenance   </h1>
  <p>
  <a href="/">Home</a>
  <a href="/templates/about.html">About</a>
  <a href = "/estimate.html" >Estimate</a>
</p>


<h2>Total Cost Calculator</h2>
<title>Cost</title>
    <script>
        function display(id_name,result_name){
       document.getElementById(result_name).innerHTML = document.getElementById(id_name).value;
       }
       function calculate(id1,id2,result_id) {
       document.getElementById(result_id).innerHTML = 1.7 *(parseInt(document.getElementById(id1).value)+ 0.85 * (parseInt(document.getElementById(id2).value)^2) + 1.7 * (parseInt(document.getElementById(id2).value)))
       }
    </script>
</head>
<div class="input">
<label for="input1_text">Height</label>
    Height (inches):
    <input type="text" id="input1_text">
    <span id="input1"></span>
</div>

<div class="input">
<label for = "input2_text">Radius</label>
    Radius(inches):
    <input type="text" id="input2_text">
    <span id="input2"></span>
</div>
<div class="result">
    <button type="button" onclick="calculate('input1_text','input2_text','result_value')">Calculate</button>
    <span id="result_value"></span>
</div>

</body>
</html>



